<div class="alert alert-secondary">
    <span class="bi bi-plus-square-fill" aria-hidden="true"></span>
    <strong>@Title</strong>

    @ChildContent
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter, EditorRequired]
    public string? Title { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}
