@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginStatus />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
