@inject NavigationManager NavManager
@inject IStringLocalizer<Resources.Resource> localizer
@inject ILocalStorageService _localstorage

<div class="px-2">
    <select class="form-select form-select-sm" @bind="UICulture" style="width: 95px; background-color: #e9ecef; color: #495057;">
        @foreach (var culture in uicultures)
        {
            <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>


@code {
    CultureInfo[] uicultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("es-ES")
    };
    CultureInfo UICulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                _localstorage.SetItemAsync("currentcuture", value.Name);

                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}