@using Microsoft.AspNetCore.SignalR.Client

@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SelectUICulture />
            <LoginStatus />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("requestNotificationPermission");

        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://lawfirmapi20240425223416.azurewebsites.net/notificationhub")
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string>("ReceiveMessage", async (message) =>
        {
            await JSRuntime.InvokeVoidAsync("showNotification", "New Event Notification", message);
            StateHasChanged(); // Trigger UI updates
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}