@page "/user"

@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation

<PageTitle>User - Law Firm</PageTitle>

<div class="alert alert-secondary">
    <span class="bi bi-plus-square-fill" aria-hidden="true"></span>
    <strong>Do you want to create a new user?</strong>
    <span class="text-nowrap">
        Please
        <a class="font-weight-bold link-dark" href="user-upsert">Add it here.</a>
    </span>
</div>

@code {
    public UserViewModel UserViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var users = await AuthenticationService.GetUsers();
        }
        catch (ApiException ex) when (ex.Message.Contains("401"))
        {
            Navigation.NavigateTo("/logout");
        }
    }
}
