@inject NavigationManager Navigation
@inject IStringLocalizer<Resources.Resource> localizer

<div class="px-2">
    <AuthorizeView>
        <div style="font-size: 13px;">
            @localizer["Hello"], @context.User!.Claims.FirstOrDefault(c => c.Type == "email")!.Value
            <a href="#" @onclick="BeginSignOut">@localizer["Logout"]</a>
        </div>
    </AuthorizeView>
</div>

@code {
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateTo("/logout");
    }
}