@page "/client"

@inject IClientDataService ClientDataService
@inject NavigationManager Navigation

@attribute [Authorize]

<PageTitle>Clients - LawFirm</PageTitle>

<div class="alert alert-secondary">
    <span class="bi bi-plus-square-fill" aria-hidden="true"></span>
    <strong>Do you want to create a new client?</strong>
    <span class="text-nowrap">
        Please
        <a class="font-weight-bold link-dark" href="client-upsert">Add it here.</a>
    </span>
</div>


@if (ClientList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Event name</th>
                <th>Event date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in ClientList)
            {
                <tr>
                    <td class="event-name">@ev.Name </td>
                    <td class="event-date">@ev.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    public ICollection<ClientViewModel> ClientList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientList = await ClientDataService.GetClients();
    }
}
