@page "/user-password/{id}"

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IAuthenticationService AuthenticationService
@inject IJSRuntime JsRuntime

<PageTitle>Change Password - Law Firm</PageTitle>

<SimpleNavigation BasePageRef="user" BasePage="User" CurrentPage="Change Password" />

<EditForm Model="changePasswordViewModel" OnValidSubmit="HandleValidSubmit">

    <FluentValidationValidator />

    <FormSection Title="Change password" HelpText="If you forgot or lost your password for the appplication, you may be able to change or reset it here. ">
        <FormFieldSet Width="col-11">
            <label for="password" class="form-label text-muted fw-bold">Password</label>
            <InputText type="password" @bind-Value="changePasswordViewModel.Password" class=" form-control" id="password" />
            <ValidationMessage For="@(() => changePasswordViewModel.Password)" />
        </FormFieldSet>
        <FormFieldSet Width="col-11">
            <label for="confirmPassword" class="form-label text-muted fw-bold">Confirm Password</label>
            <InputText type="password" @bind-Value="changePasswordViewModel.ConfirmPassword" class=" form-control" id="confirmPassword" />
            <ValidationMessage For="@(() => changePasswordViewModel.ConfirmPassword)" />
        </FormFieldSet>
    </FormSection>

    <div class="mt-4 mb-2">
        <div class="row">
            <div class="offset-4 col-8 text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="HandleCancel">Cancel</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public string Id { get; set; }
    
    private ChangePasswordViewModel changePasswordViewModel = new ();

    private async Task HandleValidSubmit()
    {
        try
        {
            changePasswordViewModel.Id = Id;
            await AuthenticationService.ChangePassword(changePasswordViewModel);
            changePasswordViewModel = new();
            await JsRuntime.InvokeVoidAsync("showSuccessToastr", "Password changed successfully!");
        }
        catch (Exception)
        {
            await JsRuntime.InvokeVoidAsync("showErrorToastr", "Something went wrong, please try again or contact your supplier.");
        }

        await JsRuntime.InvokeVoidAsync("scrollUtils.scrollToTop");
    }

    private void HandleCancel()
    {
        Navigation.NavigateTo("user");
    }
}