@page "/change-password/{id}"

@inject NavigationManager Navigation
@inject IAuthenticationService AuthenticationService
@inject IJSRuntime JsRuntime

@attribute [Authorize]

<PageTitle>Change Password - Law Firm</PageTitle>

<div class="alert alert-secondary">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0;">
            <li class="breadcrumb-item"><a class="font-weight-bold link-dark" href="user">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
    </nav>
</div>

@if (SubmitSuccessful)
{
    <SuccessAlert Message="The user has been added successfully!" />
}
else if (_errorMessage is not null)
{
    <ErrorAlert Message="@_errorMessage" />
}

<EditForm Model="userViewModel" OnValidSubmit="HandleValidSubmit">

    <FluentValidationValidator />

    <FormSection Title="Change password" HelpText="verification of identity or tools for authentication.">
        <FormFieldSet Width="col-11">
            <label for="password" class="form-label text-muted"><b>Password</b></label>
            <InputText type="password" @bind-Value="userViewModel.Password" class=" form-control" id="password" />
            <ValidationMessage For="@(() => userViewModel.Password)" />
        </FormFieldSet>
        <FormFieldSet Width="col-11">
            <label for="confirmPassword" class="form-label text-muted"><b>Confirm Password</b></label>
            <InputText type="password" @bind-Value="userViewModel.ConfirmPassword" class=" form-control" id="confirmPassword" />
            <ValidationMessage For="@(() => userViewModel.ConfirmPassword)" />
        </FormFieldSet>
    </FormSection>

    <div class="mt-4 mb-2">
        <div class="row">
            <div class="offset-4 col-8 text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="HandleCancel">Cancel</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    private UserViewModel userViewModel = new UserViewModel();

    private bool SubmitSuccessful;
    private string? _errorMessage;
    [Parameter] public string Id { get; set; }

    private async Task HandleValidSubmit()
    {
        try
        {
            var result = await AuthenticationService.Register(userViewModel.FirstName, userViewModel.LastName, userViewModel.UserName, userViewModel.Email, userViewModel.Password);

            if (result)
            {
                SubmitSuccessful = true;
                userViewModel = new();

            }
            else
            {
                SubmitSuccessful = false;
                _errorMessage = "There was a problem saving your ticket.";
            }
        }
        catch (ApiException ex) when (ex.Message.Contains("exists"))
        {
            _errorMessage = "Username or email already exists.";
        }

        await JsRuntime.InvokeVoidAsync("scrollUtils.scrollToTop");
    }

    private void HandleCancel()
    {
        Navigation.NavigateTo("user");
    }
}