.responsive-table {
    width: 100%;
    overflow-x: auto;
}

    .responsive-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .responsive-table th,
    .responsive-table td {
        padding: 8px;
        text-align: left;
    }
