@page "/case"

@attribute [Authorize]

@inject ICaseDataService CaseDataService
@inject NavigationManager Navigation

<div class="alert alert-secondary">
    <span class="bi bi-plus-square-fill" aria-hidden="true"></span>
    <strong>Do you want to create a new case?</strong>
    <span class="text-nowrap">
        Please
        <a class="font-weight-bold link-dark" href="case-upsert">Add it here.</a>
    </span>
</div>

@if (CaseList is null)
{
    <p>Loading...</p>
}
else
{
    @if (CaseList.Any())
    {
        <div class="responsive-table">
            <TableView Items="CaseList" Context="caseEntity">
                <HeaderTemplate>
                    <th>File Number</th>
                    <th></th>
                </HeaderTemplate>
                <RowTemplate>
                    <th scope="col">@caseEntity.FileNumber</th>
                    <td class="text-end">
                        <AuthorizeView>
                            <button title="Details" class="btn btn-primary" >
                                <i class="bi bi-list-task"></i>
                            </button>
                            <button title="Edit" class="btn btn-primary" >
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button title="Delete" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </AuthorizeView>
                    </td>
                </RowTemplate>
            </TableView>
        </div>
    }
    else
    {
        <div class="no-items">
            <svg viewBox="0 0 16 16" class="bi bi-tree" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0zM5.934 4.5H6a.5.5 0 0 1 .424.765L4.402 8.5H4.5a.5.5 0 0 1 .447.724L3.31 12.5h9.382l-1.638-3.276A.5.5 0 0 1 11.5 8.5h.098L9.576 5.265A.5.5 0 0 1 10 4.5h.066L8 1.401 5.934 4.5z" />
                <path d="M7 13.5h2V16H7v-2.5z" />
            </svg>
            <h3 class="text-muted font-weight-light">You don't have any clients, <a href="client-upsert">why not add one?</a></h3>
        </div>
    }
}

@code {
    public ICollection<CaseVm> CaseList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CaseList = await CaseDataService.GetAllCases();
    }

}
