@if (Case.Statuses is null)
{
    <p>Loading..</p>
}
else
{
    <FormSection Title="Status" HelpText="Pending, dismissed, appealed, settled, ongoing, closed, in review, adjourned, pending trial.">
        <div class="row" hidden="@Disabled">
            <div class="mb-2">
                <button class="btn-sm btn-primary fw-bold" type="button" @onclick="AddStatus">
                    New Charge
                </button>
            </div>
        </div>
        <div class="row">
            @foreach (var status in Case.Statuses)
            {

                <div class="col-6">
                    <label for="counterPartName" class="form-label text-muted fw-bold">Description</label>
                    <InputText @bind-Value="status.Description" class=" form-control" id="counterPartName" Disabled="@Disabled" />
                    <ValidationMessage For="@(() => status.Description)" />
                </div>

                <div class="col-1" style="margin-top:31px;">
                    <button class="btn btn-danger" hidden="@Disabled" type="button" @onclick="() => RemoveStatus(status)">
                        <i class="bi bi-file-minus-fill"></i>
                    </button>
                </div>
            }

        </div>
    </FormSection>
}

@code {
    [Parameter, EditorRequired]
    public CaseVm Case { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    private void AddStatus()
    {
        Case.Statuses.Add(new StatusVm());
    }

    private void RemoveStatus(StatusVm charge)
    {
        Case.Statuses.Remove(charge);
    }
}
