@page "/case-detail/{id:guid}"

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IClientDataService ClientDataService
@inject ICaseDataService CaseDataService
@inject IJSRuntime JsRuntime

<PageTitle>Case Details - Law Firm</PageTitle>

<SimpleNavigation BasePageRef="case" BasePage="Case" CurrentPage="Details" />

@if(caseEntity is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="caseEntity">

        <ClientSelectionForm Case="caseEntity" Disabled="true" />

        <CounterPartsForm Case="caseEntity" Disabled="true" />

        <CaseDetailsForm Case="caseEntity" Disabled="true" />

        <div class="mt-4 mb-2">
            <div class="row">
                <div class="offset-4 col-8 text-end">
                    <button class="btn btn-secondary" type="button" @onclick="@(() => Navigation.NavigateTo("case"))">Go back</button>
                </div>
            </div>
        </div>

    </EditForm>
}

@code {

    [Parameter] 
    public Guid Id { get; set; }

    private CaseVm caseEntity;

    protected async override Task OnInitializedAsync()
    {
        caseEntity = await CaseDataService.GetCase(Id);
    }
}
